<nav class="navbar navbar-expand-lg" appDarkModeBackground>
  <div class="container-fluid">

      <!--LOGO-->
      <a class="navbar-brand" [routerLink]="['/home']">
        <i class="bi bi-house" [ngClass]="isDarkMode() ? 'text-light' : ''"></i>
      </a>

      <!-- Toggle Button for Mobile View -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" [ngClass]="isDarkMode() ? 'dark-burger' : ''"></span>
      </button>

      <!--LINKS-->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto" [ngClass]="isDarkMode() ? 'dark-links' : ''">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about']" routerLinkActive="router-link-active" [ngClass]="isDarkMode() ? 'dark-links' : ''">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/products']" routerLinkActive="router-link-active" [ngClass]="isDarkMode() ? 'dark-links' : ''">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/cart']" routerLinkActive="router-link-active" [ngClass]="isDarkMode() ? 'dark-links' : ''">Cart</a>
          </li>

          <!--ADMIN BUTTONS-->
          <ng-container>
            <li class="nav-item" *ngIf="!checkAdminAccess()">
              <a class="nav-link" [routerLink]="['/adminUnlock']" routerLinkActive="router-link-active" [ngClass]="isDarkMode() ? 'dark-links' : ''">Admin</a>
            </li>
            <li class="nav-item" *ngIf="checkAdminAccess()">
              <a class="nav-link" [routerLink]="['/admin/dashboard']" routerLinkActive="router-link-active" [ngClass]="isDarkMode() ? 'dark-links' : ''">Admin Area</a>
            </li>
          </ng-container>

        </ul>

          <!--DARK/LIGHT MODE-->
          <ul class="navbar-nav">
            <ng-container>
              <li>
                <a class="nav-link" (click)="toggleDark()" *ngIf="isDarkMode()">
                  <i class="bi bi-brightness-high-fill"></i>
                </a>
                <a class="nav-link" (click)="toggleDark()" *ngIf="!isDarkMode()">
                  <i class="bi bi-moon-fill"></i>
                </a>
              </li>
            </ng-container>
          </ul>

      </div>
    </div>
  </nav>