<div class="container">

    <!--IMAGE SECTION-->
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-6">
            <img [src]="product?.imageUrl" class="img-fluid" alt="{{ product?.name }}">
        </div>
    </div>
    <!--INFO SECTION-->
    <div class="row p-3 bg-secondary-subtle rounded-3 my-2">
        <div class="col-12 col-md-7">
            <div class="card-body">
              <h2 class="card-title">{{ product?.name }}</h2>
              <h4 class="text-success">${{ product?.price }}</h4>
              <p class="card-text">{{ product?.description }}</p>
            </div>
          </div>
    </div>
    <!--SPECS SECTION-->
    <div class="row p-3 bg-secondary-subtle rounded-3 my-2">
        <div class="col-12 col-md-5 mb-3 mb-md-0">
            <span class="badge text-bg-success col m-2">Specifications:</span>
            <ul>
                <li><strong>Chipset:</strong> {{ product?.specs?.chipset }}</li>
                <li><strong>Display:</strong> {{ product?.specs?.display }}</li>
                <li><strong>Camera:</strong> {{ product?.specs?.camera }}</li>
                <li><strong>Front Camera:</strong> {{ product?.specs?.frontCamera }}</li>
                <li><strong>Battery:</strong> {{ product?.specs?.battery }}</li>
                <li><strong>Charging:</strong> {{ product?.specs?.charging }}</li>
                <li *ngIf="product?.specs?.extras"><strong>Extras:</strong> {{ product?.specs?.extras }}</li>
                <li><strong>OS:</strong> {{ product?.specs?.os }}</li>
            </ul>
        </div>
        <div class="col-12 col-md-7">
            <!--CAROUSEL-->
            <span class="badge text-bg-success col-3 m-2">Gallery:</span>
            <app-product-carousel [images]="product?.images || []"></app-product-carousel>
        </div>
    </div>

    <!--Back to Products-->
    <div class="row my-5">
        <div class="col text-center">
            <button type="button" class="btn btn-outline-primary"
            [routerLink]="['/products']">Back To Products</button>
        </div>
    </div>
</div>