<div class="container limit-width">

    <!--Back to Products-->
    <div class="col-12 my-3">
        <button type="button" class="btn btn-outline-primary"
        [routerLink]="['/products']">Back To Products</button>
    </div>

    <hr>

    <!--IMAGE SECTION-->
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-10 col-lg-8 text-center ">
            <img [src]="product.imageUrl" class="img-fluid" alt="{{ product.name }}">
        </div>
    </div>
    <!--INFO SECTION-->
    <div class="row p-3 rounded-3 my-2" [appDarkModeBackground]="'default'">
        <div class="col-12 col-md-7">
            <div class="card-body">
              <h2 class="card-title">{{ product.name }}</h2>
              <h4 class="text-success">${{ product.price }}</h4>
              <p class="card-text">{{ product.description }}</p>
            </div>
          </div>
    </div>

    <!--SPECS SECTION-->
    <div class="row p-3 rounded-3 my-2" [appDarkModeBackground]="'default'">
        <div>
            <span class="badge text-bg-warning col mb-3">Specifications:</span>
            <ul>
                <li><strong>Chipset:</strong> {{ product.specs?.chipset }}</li>
                <li><strong>Display:</strong> {{ product.specs?.display }}</li>
                <li><strong>Camera:</strong> {{ product.specs?.camera }}</li>
                <li><strong>Front Camera:</strong> {{ product.specs?.frontCamera }}</li>
                <li><strong>Battery:</strong> {{ product.specs?.battery }}</li>
                <li><strong>Charging:</strong> {{ product.specs?.charging }}</li>
                <li *ngIf="product.specs?.extras"><strong>Extras:</strong> {{ product.specs?.extras }}</li>
                <li><strong>OS:</strong> {{ product.specs?.os }}</li>
            </ul>
        </div>
    </div>
    
    <!--GALLERY SECTION-->
    <div class="row p-3 rounded-3 my-2 justify-content-center" [appDarkModeBackground]="'default'">
        <div class="col-12">
            <span class="badge text-bg-info mb-3">Gallery:</span>
        </div>
        <div class="col-12 col-md-10 col-lg-8">
            <app-product-carousel [images]="product.images || []"></app-product-carousel>
        </div>
    </div>

    <hr>

    <!-- ADD TO CART BUTTON-->
    <div class="row m-4 text-center" (click)="addToCart()">
        <button type="button" class="btn btn-success">
            Add To Cart
        </button>
    </div>

    <!-- Cart Icon Button -->
    <button type="button" class="btn btn-success rounded-circle position-fixed cart-icon" [routerLink]="['/cart']">
        <i class="bi bi-bag"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger cart-count-icon">
            {{cartItemsCount}}
        </span>
    </button>

</div>