<div class="container p-4 my-4 rounded-4" [ngClass]="isDarkMode ? 'bg-dark' : 'bg-body-secondary'">
    <div class="row">
      <div class="col-12 my-3">
        <button type="button" class="btn btn-primary" [routerLink]="['/admin/dashboard']">Back to Admin</button>
      </div>
    </div>
  
    <div>
      <h1 class="text-center my-2 text-danger">{{ title }}</h1>
    </div>
  
    <div>
      <!-- BASIC INFO-->
      <form [formGroup]="form" (ngSubmit)="onSubmitFn()">
        <hr class="my-3">
        <h3>Basic Info</h3>
        <div>
          <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="name">
          </div>
          <div class="mb-3">
            <label class="form-label">Brand</label>
            <input type="text" class="form-control" formControlName="brand">
          </div>
          <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea class="form-control" formControlName="description"></textarea>
          </div>
          <div class="mb-3">
            <label class="form-label">Price</label>
            <input type="number" class="form-control" formControlName="price">
          </div>
          <div class="mb-3">
            <label class="form-label">Image URL</label>
            <input type="text" class="form-control" formControlName="imageUrl">
          </div>
        </div>
  
        <!-- SPECS -->
        <hr class="my-3">
        <h3>Specs</h3>
        <div formGroupName="specs" class="row my-2">
          <div class="mb-3">
            <input formControlName="chipset" placeholder="Chipset" class="form-control mb-3" />
            <input formControlName="display" placeholder="Display" class="form-control mb-3" />
            <input formControlName="camera" placeholder="Camera" class="form-control mb-3" />
            <input formControlName="frontCamera" placeholder="Front Camera" class="form-control mb-3" />
            <input formControlName="battery" placeholder="Battery" class="form-control mb-3" />
            <input formControlName="charging" placeholder="Charging" class="form-control mb-3" />
            <input formControlName="os" placeholder="OS" class="form-control mb-3" />
            <input formControlName="build" placeholder="Build" class="form-control mb-3" />
          </div>
        </div>

        <!-- IMAGES -->
        <hr class="my-3">
        <h3>Image Gallery</h3>
        <div formArrayName="images" class="mb-3">
          <div *ngFor="let img of images.controls; let i = index" class="mb-2">
            <input
              [formControlName]="i"
              class="form-control"
              placeholder="Image URL {{ i + 1 }}"
            />
          </div>
        </div>
  
        <!-- SUBMIT BUTTON-->
        <div class="row my-2">
          <button type="submit" class="btn btn-success" [disabled]="isSubmitting">{{ submitLabel }}</button>
        </div>
      </form>
    </div>
  </div>