.cart-icon {
    bottom: 25px; 
    right: 25px; 
    z-index: 1050;
    font-size: 24px;
}

.cart-icon:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.cart-count-icon {
    font-size: 14px;
}

.limit-width {
  max-width: 1000px;
}