<div class="container p-4 limit-width">
    <!--INTRO-->
    <div class="row text-center">
        <div class="col-12">
            <h1 class="display-5 fw-bold mb-3">Our Smartphones</h1>
            <p class="lead mb-4">
                From flagship powerhouses to budget-friendly favorites — find the phone that fits your lifestyle.
            </p>
            <hr class="w-25 mx-auto">
        </div>
    </div>
    <!--Filter-->
    <div class="row text-center">
        <div>
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Filter
              </button>  
             <ul class="dropdown-menu" appDarkModeBackground="dropdown">
                <li><a class="dropdown-item" (click)="setFilter('All')">All</a></li>
                <li><a class="dropdown-item" (click)="setFilter('Apple')">Apple</a></li>
                <li><a class="dropdown-item" (click)="setFilter('Android')">Android</a></li>
            </ul>
        </div>
    </div>
    
    <div class="p-4 m-5 rounded-5" appDarkModeBackground="default">

        <!--CARDS-->
        <div class="row d-flex justify-content-evenly g-3">
            <ng-container *ngFor="let product of filteredProducts">
                <div class="col-12 col-md-6 col-lg-4" >
                    <app-product-card 
                    [productCard]="product"
                    [selectedProductId]="selectedId"
                    [showDetailsButton]="true"
                    (toggle)="onToggle($event)"
                    >
                    </app-product-card>
                </div>
            </ng-container>
        </div>
    
        <!--DETAILS-->
        <ng-container *ngIf="selectedProduct">
            <!-- BACKDROP -->
            <div
                class="position-fixed top-0 start-0 w-100 h-100 backdrop" (click)="closeAlert()"
            ></div>
            <!-- ALERT -->
            <div *ngIf="selectedProduct" class="alert alert-dismissible fade show fixed-top p-4 shadow alert-centered" role="alert" appDarkModeBackground="default">
                <div class="col-12">
                    <app-product-details
                    [product]="selectedProduct">
                    </app-product-details>
                </div>
                <button type="button" class="btn-close" aria-label="Close" (click)="closeAlert()"></button>
            </div>
        </ng-container>

    </div>
      
    <!-- Cart Icon Button -->
    <button type="button" class="btn btn-success rounded-circle position-fixed cart-icon" [routerLink]="['/cart']">
        <i class="bi bi-bag"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger cart-count-icon">
            {{cartItemsCount}}
        </span>
    </button>

</div>