<div class="container p-4">
    <!--INTRO-->
    <div class="row text-center">
        <div class="col-12">
            <h1 class="display-5 fw-bold mb-3">Our Smartphones</h1>
            <p class="lead mb-4">
                From flagship powerhouses to budget-friendly favorites — find the phone that fits your lifestyle.
            </p>
            <hr class="w-25 mx-auto">
        </div>
    </div>
    <!--Filter-->
    <div class="row text-center">
        <div>
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Filter
              </button>  
             <ul class="dropdown-menu" [ngClass]="isDarkMode() ? 'bg-dark' : 'bg-body-secondary'">
                <li><a class="dropdown-item" (click)="setFilter('All')">All</a></li>
                <li><a class="dropdown-item" (click)="setFilter('Apple')">Apple</a></li>
                <li><a class="dropdown-item" (click)="setFilter('Android')">Android</a></li>
            </ul>
        </div>
    </div>
    
    <div class="p-4 m-5 rounded-5" [ngClass]="isDarkMode() ? 'bg-dark' : 'bg-body-secondary'">
        <!--CARDS-->
        <div class="row d-flex justify-content-evenly g-3">
            <div class="col-12 col-md-6 col-lg-4" *ngFor="let product of filteredProducts">
                <app-product-card 
                [productCard]="product"
                [selectedProductId]="selectedId"
                [showDetailsButton]="true"
                (toggle)="onToggle($event)"
                >
                </app-product-card>
            </div>
        </div>
        <!--DETAILS-->  
        <div class="row" *ngIf="selectedProduct">
            <div class="col-12">
                <app-product-details
                [product]="selectedProduct">
                </app-product-details>
            </div>
        </div>
    </div>

</div>