<div class="container p-4">
    <!--INTRO-->
    <div class="row text-center">
        <div class="col-12">
            <h1 class="display-5 fw-bold mb-3">Explore the Latest Smartphones</h1>
            <p class="lead mb-4">
                Discover top-notch features, sleek designs, and unmatched performance. From flagship powerhouses to budget-friendly favorites — find the phone that fits your lifestyle.
            </p>
            <hr class="w-25 mx-auto">
        </div>
    </div>
    
    <!--TRENDING-->
    <div class="p-4 m-5 rounded-5" [ngClass]="isDarkMode() ? 'bg-dark' : 'bg-body-secondary'">
        <div class="row">
            <div class="col-12 my-2">
                <span class="badge text-bg-danger">Trending</span>
            </div>
        </div>
        <div class="row d-flex justify-content-evenly g-3">
            <div class="col-12 col-md-6 col-lg-4" *ngFor="let product of getTrending()">
                <app-product-card 
                [productCard]="product"
                [showDetailsButton]="false">
                </app-product-card>
            </div>
        </div>
        <div class="row">
            <div class="col-12 my-3 text-center">
                <button type="button" class="btn btn-primary" [routerLink]="['/products']" >Go To Products</button>
            </div>
        </div>
    </div>

    <hr class="w-25 mx-auto">

    <!-- TOP IPHONES -->
    <div class="p-4 m-5 rounded-5" [ngClass]="isDarkMode() ? 'bg-dark' : 'bg-body-secondary'">
        <div class="row">
            <div class="col-12 my-2">
                <span class="badge text-bg-danger">Hot Apple</span>
            </div>
        </div>
        <div class="row d-flex justify-content-evenly g-3">
            <a href="/products/0" class="no-link-style">
                <div class="mx-auto" *ngFor="let product of getAppleHot()">
                    <app-product-card 
                    [productCard]="product"
                    [showDetailsButton]="false">
                    </app-product-card>
                </div>
            </a>
        </div>
        <div class="row">
            <div class="col-12 my-3 text-center">
                <span><strong>For More Visit our Producsts Page</strong></span>
            </div>
        </div>
    </div>

    <hr class="w-25 mx-auto">

    <!-- TOP ANDROID -->
    <div class="p-4 m-5 rounded-5" [ngClass]="isDarkMode() ? 'bg-dark' : 'bg-body-secondary'">
        <div class="row">
            <div class="col-12 my-2">
                <span class="badge text-bg-danger">Hot Android</span>
            </div>
        </div>
        <a href="/products/1" class="no-link-style">
            <div class="row d-flex justify-content-evenly g-3">
                <div class="mx-auto" *ngFor="let product of getAndroidPhones()">
                    <app-product-card 
                    [productCard]="product"
                    [showDetailsButton]="false">
                    </app-product-card>
                </div>
            </div>
        </a>
        <div class="row">
            <div class="col-12 my-3 text-center">
                <span><strong>For More Visit our Producsts Page</strong></span>
            </div>
        </div>
    </div>
</div>